# Configuración API
API_PORT=8000

# Credenciales de PostgreSQL
POSTGRES_USER=postgresql
POSTGRES_PASSWORD=secretpasswordpostgresql
POSTGRES_DB=pubtube_db

# Credenciales de MinIO (Almacenamiento S3)
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=adminminio
MINIO_SECRET_KEY=minio_secret123
MINIO_BUCKET_CONTENT=videos
MINIO_BUCKET_THUMBNAILS=thumbnails