# Configuración API
API_PORT=8000

# Credenciales de PostgreSQL
POSTGRES_USER=pubtube
POSTGRES_PASSWORD=pubtube_secret
POSTGRES_DB=pubtube_db
POSTGRES_PORT=5433

# URL de Conexión a Base de Datos (Host)
DATABASE_URL=postgresql://pubtube:pubtube_secret@localhost:5433/pubtube_db

# Credenciales de Almacenamiento de Objetos S3 (Garage)
MINIO_ENDPOINT=localhost
MINIO_PORT=3900
MINIO_API_PORT=9000
MINIO_ACCESS_KEY=adminminio
MINIO_SECRET_KEY=minio_secret_key_123
MINIO_BUCKET_CONTENT=videos
MINIO_BUCKET_THUMBNAILS=thumbnails
AWS_REQUEST_CHECKSUM_CALCULATION=WHEN_REQUIRED
AWS_RESPONSE_CHECKSUM_VALIDATION=WHEN_REQUIRED